AAD_CLIENT_ID="ADD_CLIENT_ID"
AAD_TENANT_ID="ADD_TENANT_ID"
AAD_CLIENT_SECRET="ADD_CLIENT_SECRET"
OPENAI_API_KEY="API_KEY"
OPENAI_BASE_URL="API_BASE_URL"
AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT="AZURE_ENDPOINT_URL"
AZURE_DOCUMENT_INTELLIGENCE_KEY="AZURE_KEY"